body { background:#d6d7d7; margin:0; }

div#main {   background:#323639;
                width:666px;
                margin: 0px auto;
                box-shadow: 0 5px 15px 5px gray; }

div#upperindent { height:2em; }

div#indent { padding:1em;
             height:inherit; }


/* button */

div#module1 { text-align:center;  }

div#m-left { width:50%; float:left; padding: 0 2em;}

div#m-right { width:50%; float:left; }

div#m-right-top {  }

div#m-right-bot {  }

div#screen { width:6em; height:6em;
                  margin:auto; background:#d6d7d7; }

#m-right-safe { clear:both; height:1em; }


/* footer */

hr { border-top: 1px solid #d6d7d7; width:80%; }

div#low-left { width:50%; float:left; text-align:left; padding:0 1em; }

div#low-right { width:50%; float:left; text-align:right; padding:0 1em; }

div#soc1 { width:50%; float:left; border-right: 1px solid #86817e; height:3em; padding-right:0.6em; }
div#soc2 { width:50%; float:left; padding: 0 0.9em 0 0; }

div#low-safe { clear:both; height:1em; }




h1, h2, h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             padding:0; margin:0;
             color:#f3f3f3; }

    p { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        padding:0; margin:0;
        color:#bdae9d; }

span { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
       padding:0; margin:0; color:#0088ce; }

div#lowerindent span { padding:0; margin:0; color:#86817e; font-size:0.8em; }
/* div#lowerindent span { padding:0; margin:0; color:#208008; font-size:0.8em; } */

    a { text-decoration:underline; margin: 0 3px; font-family: "Courier New", Courier, monospace; }
